
  .img {
  border: 5px solid #0f2436;
  border-radius: 4px;
  padding: 10px;
  width: 300px;
}

h1 {
    color: rgb(255, 255, 255);
    background-color: #365599
1;


-webkit-text-stroke: 1px black;
 font-family: helvetica; color: white;
}

.texto {
    width: 50%;
    
}
.textomed {
    color: #0f2436;
}

header {
    background-color: #0f2436;
}
li {
    color: antiquewhite;
}
.topo {
  display: flex;             
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #0a2540; 
}


.lista-menu {
  list-style: none;
  display: flex;              
  gap: 20px;
  margin: 0;
  padding: 0;
}


.lista-menu li a {
  text-decoration: none;
  color: #e0f2ff;
  font-weight: bold;
}


.lista-menu li a:hover {
  color: #7dd3fc;
}


.titulo h1 {
  color: #e0f2ff;
  font-size: 24px;
}
#footer {
  background-color: #0a2540;
}
#pe {
 color: antiquewhite;
}